<div class="row">
	<div class="large-9 columns">
		<div class="panel">
			<h1>みんなのデータ分析</h1>
			<p>問題解決のフレームワーク―パターン・ランゲージに沿って<br/>
			データ分析を行うことができるアプリケーションです。
			</p>
		</div>
		<div class="callout panel">
			<p>パターン・ランゲージは、建築家アレグザンダーが考案した問題解決のフレームワークです。<br/>
			Context, Problem, Solution, Consequenceの三つに課題解決のプロセスを分けることで<br/>
			似たような状況(Context)・問題(Problem)に陥ったときに誰でもパターン・ランゲージを<br/>
			用いれば、その状況・問題に解決策(Solution)を提案し、その結果(Consequence)を示すことができます。<br/><br/>
			そんなパターン・ランゲージを使うことで、「統計は苦手」「数字に弱い」<br/>
			という方でもテキストマイニング分析や統計分析を行える仕組みがCooking Patterns for Data Miningです。		
			</p>
		</div>
	</div>
	<div class="large-3 columns">
		<ul class="pricing-table">
			<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<li class="bullet-item"><%= f.email_field :email,:placeholder=>'Email' %></li>
			<li class="bullet-item"><%= f.password_field :password,:placeholder=>'Password' %></li>
			<li class="bullet-item"><%= f.label :remember_me do %><%= f.check_box :remember_me, :class=>'custom checkbox'%> ログイン情報を記憶する<% end %></li>
			<li class="cta-button"><%= f.submit "ログイン", :class=>'button' %></li>
			<% end %>
			<li class="description">アカウントをお持ちでない場合は</li>
			<li class="cta-button"><%= link_to "登録", [ :new, :user_registration ], :class=>'button secondary' %></li>
		</ul>
	</div>
</div>