<%= form_for(@pattern) do |f| %>
  <div class="field">
    <%= f.text_field :title, :placeholder=>'パターン名' %>
  </div>
  <div class="field">
    <%= f.text_area :example, :placeholder=>'実際に活用された事例' %>
  </div>
  <div class="field">
    <%= f.text_area :context, :placeholder=>'Context' %>
  </div>
  <div class="field">
    <%= f.text_area :consequence, :placeholder=>'Consequence' %>
  </div>
  <div class="field">
    <%= f.select :category, [['アンケート',1],['A/Bテスト',2],['ソーシャル分析',1]] %>
  </div>
  <div class="field">
    <%= f.select :analysis_id, [['テキストマイニング',1],['t検定',2],['χ二乗検定',3]] %>
  </div>
  <div class="actions panel">
    <%= f.submit :class=>'button' %>
  </div>
<% end %>
