<div class="small-6 columns">
	<ul class="pricing-table">
		<li class="title"><%= pattern.title %></li>
		<li class="description">Context</li>
		<li class="bullet-item"><%= pattern.context %></li>
		<li class="description">Problem</li>
		<li class="bullet-item"><%= pattern.problem %></li>
		<li class="description">Solution</li>
		<li class="bullet-item"><%= pattern.solution %></li>
		<li class="description">Consequence</li>
		<li class="bullet-item"><%= pattern.consequence %></li>
		<li class="cta-button"><%=link_to '閲覧する', pattern, :class=>'button' %></li>
	</ul>
</div>