<h1>Listing patterns</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Context</th>
      <th>Analysis</th>
      <th>Consequence</th>
      <th>Category</th>
      <th>Example</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patterns.each do |pattern| %>
      <tr>
        <td><%= pattern.user_id %></td>
        <td><%= pattern.title %></td>
        <td><%= pattern.context %></td>
        <td><%= pattern.analysis_id %></td>
        <td><%= pattern.consequence %></td>
        <td><%= pattern.category %></td>
        <td><%= pattern.example %></td>
        <td><%= link_to 'Show', pattern %></td>
        <td><%= link_to 'Edit', edit_pattern_path(pattern) %></td>
        <td><%= link_to 'Destroy', pattern, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pattern', new_pattern_path %>
