<div class="row">
	<div class="panel">
		<%= search_form_for @q do |f| %>
		<h4>あなたの調査形式、状況、得たい結果などを入力してください。</h4><br>
		<%= f.text_field :context_or_consequence_cont, :placeholder=>'ContextまたはConsequence' %><br>
		<%= f.submit '検索する', :class=>'button'%> <%= link_to '新しいパターンを作成', new_pattern_path, :class=>'button success' %>
		<% end %>
	</div>
	<%= render @patterns %>
</div>
