<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tracker.user_id %>
</p>

<p>
  <strong>Queue:</strong>
  <%= @tracker.queue %>
</p>

<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
